media_queries = {
  tinymobile :"only screen and (max-width: 320px)"
  mobile  : "only screen and (max-width: 600px)",
  tablet  : "only screen and (min-width: 601px) and (max-width: 1023px)",
  desktop : "only screen and (min-width: 1024px)"
}
for_breakpoint(breakpoints)
  conditions = ()
  for breakpoint in breakpoints
    push(conditions, media_queries[breakpoint])
  conditions = join(", ", conditions)
  @media conditions
    {block}


